body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  background-image: url('https://media.licdn.com/dms/image/D4D22AQFOjy8NYyTnRg/feedshare-shrink_2048_1536/0/1685011363741?e=1687996800&v=beta&t=mokwLyglPYrQuScIJ8ww9VpuXMhsQ1xFBYYs9fscumQ');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
color: #8e8e8e;
}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder {
color: transparent;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  /*font-weight: bold;*/
  color: rgb(98, 0, 128);
  -webkit-text-stroke: 0.5px white;
  text-stroke: 0.5px white;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

button[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(98, 0, 128);
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #65E5FF;
  color: rgb(0, 0, 0);
}

.hidden {
  display: none;
}

#email-sent-msg {
  color: #65E5FF;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}